    body {
        background-color: #292929;
        color: #FFFFFF;
        font-size: 16px;
        font-family: "Hind", sans-serif;
        font-weight: 400;
    }
    
    .w-970 {
        max-width: 970px;
        background-color: #CBCBCB;
        opacity: 50%;
        height: 1px;
    }
    
    .products {
        max-width: 984px;
        max-height: 190px;
        background-color: #131313;
    }
    
    .card {
        background-color: #232323;
    }